* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color:#E67A00;
}
.logo span {
    color: black;
}

nav a {
    text-decoration: none;
    color: black;
    margin-left: 20px;
    font-size: 16px;
    
}
nav a:hover {
    color: #E67A00;
    
    
}
.menu {
    display: none;
    cursor: pointer;
    width: 50px;
  }

/* Hero */
.hero {
    background-color: #FCFAF7;
    height:100vh;
    display: flex;
    justify-content:space-around;
    align-items: center;
    
}
.hero img{
    width:60%;
}
.hero h1 {
    font-size:50px;

}
.main p{
    margin-top:20px;
    margin-bottom:30px;
}
.image img{
    width:100%;
}
/* .main{
    line-height: 1.6;
} */
/* Sections */
section {
    padding: 40px;
}

.histoire, .valeurs, .pedagogie {
    display:grid;
    grid-template-columns: 1fr 1fr;
   
    align-items: center;
}

.valeurs{
    background-color: #F5F5F5;
    
}

.text {
    flex: 1;
}

h2 {
    text-transform: capitalize;
    font-size: 50px;
    margin-bottom: 40px;
}

p {
    line-height: 1.5;
    margin-bottom: 15px;
}
span{
    color: #E67A00;
}
.lire-plus {
    color: #E67A00;
    background-color: white;
    border: 2px solid #E67A00;
    font-weight: bold;
    
}
.lire-plus:hover{
    background-color: #E67A00;
    color: white;
    transition-duration: 0.4s;
}

button {
    background-color: #E67A00;
    border: none;
    padding: 15px 40px;
    cursor: pointer;
    color: white;
    border-radius: 50px;
    font-size: medium;
    margin-top:20px;
}
.ouvrir-plus:hover{
    background-color: #EC5800;
    
   
}

/* Pourquoi choisir */
 .choisir {
     background-color: #FCFAF7;
} 
.choisir h2{
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 30px;
    padding: 40px;
   
}

.card {
    background-color: #fff;
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 20px;
    padding: 20px 30px 20px 30px;
    border-radius: 10px;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
     cursor: pointer;
}
.card:hover{
background-color: #F5F5F5;
}

 .card span {
    margin-left: auto;
} 
.card img{
    width:50px;
}
ul{
    
    
    list-style-type: none;
    font-size: 15px;
    line-height: 200%;
}
li i{
padding:5px;
background-color: #E67A00;
border-radius: 50%;
    color: #f5f5f5;
    margin:10px;
    font-size:15px;
}
i{
    padding:5px;
    color: #E67A00;
    margin:10px;
    font-size:25px;
}

 
/* Footer */
footer {
    background-color: #555555;
    padding: 50px 40px;
    
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-logo {
    font-size: 20px;
    font-weight: bold;
    color: #E67A00;
    margin-bottom: 10px;
}
.footer-logo span {
    color: white;
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
    font-size: 14px;
}

.footer-links a:hover {
    text-decoration: underline;
}

footer p {
    font-size: 14px;
    color: white;
}
@media screen and (max-width: 768px) {
    .hero {
        display: flex;       
        flex-direction: column-reverse;
    }
    .hero img{
    width:100%;
}

nav{
   position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: white;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 15px 0;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        display: none;
      
}
nav.active{
    display:flex;
    
}
.menu {
      display: flex;
      position: absolute;
      right: 20px;
      
    }
 .histoire, .valeurs, .pedagogie {
    display:grid;
    grid-template-columns:1fr;  
 }
 .text{order: 2;}
 .image{order:1}
 
 
    .cards {
    display: grid;
    grid-template-columns:1fr;
    padding:0;
  }
}
